<html>
  <head>
    <title>About page</title>
  </head>
  <body>
    <h1>Hotels in your hand</h1>
    <p>
      Get to know the best hotels all around the world and make your trip more enjoyable:)
    </p>
  </body>
</html>
