<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<<<<<<< HEAD
<p>Get connected with us...</p>
<p>Ring to 044 2463780</p>

=======
<p>
  Contact the admin of this site to know more about the hotels </p><p>
+91 9876543210
</p>
>>>>>>> d810a459bf60867128d482325070112554ad159a
