<<<<<<< HEAD
<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
  </head>
  <body>
    <h1>Help</h1>
    <p>Contact us and get to know more about your stay:)</p>
=======
<html>
  <head>
    <title>Help page</title>
  </head>
  <body>
    <h1>Will be updated shortly</h1>
    
>>>>>>> d810a459bf60867128d482325070112554ad159a
  </body>
</html>
