<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
  </head>
  <body>
    <h1>Help</h1>
    <p>Contact us and get to know more about your stay:)</p>
  </body>
</html>
