<div class="center jumbotron">
  <h1>Login and Book your hotels now!</h1>

  <h2>
    Your comfort, our value
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>


