<html>
  <head>
    <title>Home page</title>
  </head>
  <body>
<div class="center jumbotron">
  <h1>Login and book your hotels now!</h1>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

</div>


  </body>
</html>
