<<<<<<< HEAD
<div class="center jumbotron">
  <h1>Login and Book your hotels now!</h1>

  <h2>
    Your comfort, our value
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>


=======
<html>
  <head>
    <title>Home page</title>
  </head>
  <body>
<div class="center jumbotron">
  <h1>Login and book your hotels now!</h1>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

</div>


  </body>
</html>
>>>>>>> d810a459bf60867128d482325070112554ad159a
